<% if @contact['file_name'] %>
  <img
    src="/uploads/<%= @contact['file_name'] %>"
    alt="<%= @contact['first_name'] + ' ' + @contact['last_name'] %>"
    style="max-height: 150px;">
  <% end %>

  <div>
    <a class="btn btn-primary" href="/contacts/<%= @contact['id'] %>/edit">Edit</a>

    <form class="d-inline" action="/contacts/<%= @contact['id'] %>/delete" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>

  <h1><%= @contact['first_name'] + " " + @contact['last_name'] %></h1>

  <% if @contact['email'] %>
    <span><%= @contact['email'] %></span>
    <a class="btn btn-secondary" href="mailto:<%= @contact['email'] %>">Send email</a>
  <% end %>
